@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300;400;700;900&family=Montserrat:wght@700&family=Philosopher&family=Poppins&family=Roboto:wght@300;400;500;700&display=swap');
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
.nanummyeongjo * { font-family: 'Nanum Myeongjo', serif;}

html,body,section,article,header,footer,nav,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt,img,a,form,input,select,option,fieldset,textarea,button,label,figure,video {
	margin:0;
	padding:0;
	border:0;
	background-repeat:no-repeat;
	background-position:center;
	line-height:1;
	text-decoration:none;
	font-family:'Open Sans','Noto Sans KR','맑은 고딕',돋움,'Apple SD Gothic Neo',sans-serif;
	font-size:16px;
	font-weight:500;
	color:#fff;
	letter-spacing:-0.3px;
	box-sizing:border-box;
	text-size-adjust:none;
	list-style:none;
}
a:link, a:visited,
a:hover, a:focus, a:active {
	text-decoration:none;
}

table {width:100%; border-spacing:0; border-collapse:collapse;}

/* 폼초기화 */
select,button,input[type=text],input[type=submit],textarea	{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius:0;
}

select	{	box-sizing:border-box;}
/*크롬사라피*/
@media screen and (-webkit-min-device-pixel-ratio:0){
	select	{	padding-right:22px !important;	background:url(../images/bg_select.png) no-repeat right center; background-size:contain;}
}
/*파이어폭스*/
@-moz-document url-prefix(){
	select	{	padding-right:22px !important;	background:url(../images/bg_select.png) no-repeat right center; background-size:contain;}
}

/*========= input ===========*/
.ip_comm	{display:block; width:100%; height:44px; padding:0 10px; border:0; background-color:transparent;  box-sizing:border-box; outline:none;}
.ip_comm.tel	{float:left; width:30%;}
.ip_comm.tel+.bar	{float:left; width:5%; text-align:center; line-height:44px; }
.set_tel	{overflow:hidden;}
select.ip_comm	{padding-right:0;}
textarea.ip_comm	{height:150px; padding:10px; line-height:1.5;}
.btn_sm	{display:block; height:46px; margin:0 auto; border:0; color:#fff;}

.cont_center	{width:1080px; margin:0 auto;}
.cont_center::after	{content:""; display:block; clear:both;}
.txt_hidden {position:absolute; left:-100%; top:-100%; overflow:hidden; width:0; height:0; font-size:0; text-indent:-9999%; line-height:0;}

#btn_nav{display:none; }

.btn_hbg {position:relative; display:block; width:24px; height:30px;}
.btn_hbg span {position:absolute; left:0; top:50%; display:block; width:100%; height:1px; background-color:#333; text-indent:-999%; font-size:0; line-height:0; transition:all 0.3s }
.btn_hbg span:before,
.btn_hbg span:after {content:""; position:relative; display:block; width:100%; height:1px; background-color:#333; transition:all 0.3s}
.btn_hbg span:before {top:-6px;}
.btn_hbg span:after {top:5px;}
.on .btn_hbg span {background-color:transparent;}
.on .btn_hbg span:before {top:0px; transform:rotate(45deg);}
.on .btn_hbg span:after {top:-1px; transform:rotate(-45deg);}
#nav{display:none; }
/*========= header ===========*/
#wrapper {width:100%; position:relative; background-color:#000; padding-bottom:10%; transition:all 0.5s;}
#wrapper.transe{background:#fff; }

.center{max-width:1180px; margin:0 auto; }

#header {padding:20px 0; }
#header h1{font-family: 'Poppins', sans-serif; font-weight:400; opacity:0.3; }
#header h1 span{font-weight:700; letter-spacing: 2px; padding-left:4px; }

.txt_line { position: relative; width: 100%;max-width:100%; height: auto; padding:50px 0 120px; overflow-x: hidden; }
.txt_line .track {position: absolute; white-space: nowrap; will-change: transform; animation: marquee 60s linear infinite; font-size:100px; font-family: 'Poppins', sans-serif;  font-weight:300;}
.txt_line .track span {font-family: 'Dancing Script', cursive; padding-right:50px; }
.txt_line2 {padding:200px 0 120px; }
.txt_line2 .track{color:#000; }

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@media (hover: hover) and (min-width: 700px){
.animated-title .content {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
    }

/* #cont_title{font-size:4em; padding:10% 0 3%; font-family: 'Philosopher', sans-serif;  } */
#cont_title{font-size:40px; padding:10% 0 3%; font-family: 'Poppins', sans-serif;}
#content>ul{display:flex; justify-content:space-between; ;flex-wrap:wrap; }
#content>ul>li{width:33.33%; position:relative; overflow:hidden; transition:all .3s; }
#content>ul>li:before{content:""; display:block; padding-top:100%;}
#content>ul>li>a{width:100%; height:100%; position:absolute; left:0; top:0; background-size:cover !important; }
#content>ul>li>a:after{content:""; display:block; width:100%; height:100%; background:rgba(0,0,0,0.6); position:absolute; left:0; top:0; transition:all .3s;}
#content>ul>li>a>p{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); text-align:center; font-size:16px; font-weight:500; z-index:10; display:inline-block; }
#content>ul>li:hover a:after{background:rgba(0,0,0,0.1); }

#content .web01 a{background:url(../images/sum01.jpg);}
#content .web02 a{background:url(../images/sum02.jpg);}
#content .web03 a{background:url(../images/sum03.jpg);}
#content .web04 a{background:url(../images/sum04.jpg);}
#content .web05 a{background:url(../images/sum05.jpg);}
#content .web06 a{background:url(../images/sum06.jpg);}
#content .web07 a{background:url(../images/sum07.jpg);}
#content .web08 a{background:url(../images/sum08.jpg);}
#content .web09 a{background:url(../images/sum09.jpg);}

#content .web01:hover a{background:url(../images/sum01_02.jpg);}
#content .web02:hover a{background:url(../images/sum02_02.jpg);}
#content .web03:hover a{background:url(../images/sum03_02.jpg);}
#content .web04:hover a{background:url(../images/sum04_02.jpg);}
#content .web05:hover a{background:url(../images/sum05_02.jpg);}
#content .web06:hover a{background:url(../images/sum06_02.jpg);}
#content .web07:hover a{background:url(../images/sum07_02.jpg);}
#content .web08:hover a{background:url(../images/sum08_02.jpg);}
#content .web09:hover a{background:url(../images/sum09_02.jpg);}

#content .edi01 a{background:url(../images/edi_visu01.jpg);}
#content .edi02 a{background:url(../images/edi_visu02.jpg);}
#content .edi03 a{background:url(../images/edi_visu03.jpg);}
#content .edi04 a{background:url(../images/edi_visu04.jpg);}
#content .edi05 a{background:url(../images/edi_visu05.jpg);}
#content .edi06 a{background:url(../images/edi_visu06.jpg);}
#content .edi07 a{background:url(../images/edi_visu07.jpg);}
#content .edi08 a{background:url(../images/edi_visu08.jpg);}
#content .edi09 a{background:url(../images/edi_visu09.jpg);}

#content .edi01:hover a{background:url(../images/edi_visu01_02.jpg);}
#content .edi02:hover a{background:url(../images/edi_visu02_02.jpg);}
#content .edi03:hover a{background:url(../images/edi_visu03_02.jpg);}
#content .edi04:hover a{background:url(../images/edi_visu04_02.jpg);}
#content .edi05:hover a{background:url(../images/edi_visu05_02.jpg);}
#content .edi06:hover a{background:url(../images/edi_visu06_02.jpg);}
#content .edi07:hover a{background:url(../images/edi_visu07_02.jpg);}
#content .edi08:hover a{background:url(../images/edi_visu08_02.jpg);}
#content .edi09:hover a{background:url(../images/edi_visu09_02.jpg);}

.detail_tit{margin-bottom:50px; }
.detail_tit h3{font-size:40px; font-weight:600; padding:52px 0 24px; }
.detail_tit p {font-size:16px; line-height:1.7; font-weight:400; }
.detail_tit a {display:inline-block; border:1px solid #888; padding:16px 24px; font-size:14px; margin-top:20px; }
/* .detail_tit a:hover{background:radial-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.3),rgba(255,255,255,0),rgba(255,255,255,0)); border:1px solid #000; } */

.bot_btn{display:flex; justify-content: center; align-items: center; margin-top:60px; }
a.goSite {border:1px solid #888; padding:16px 0; font-size:14px; display:block;width :200px; text-align:center;}
/* a.goSite:hover{background:radial-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.3),rgba(255,255,255,0),rgba(255,255,255,0)); border:1px solid #000; } */
a.back_btn{ padding:16px 0; font-size:14px; display:block;width :160px; text-align:center; margin-left:8px; background:#333;}

.intro_wrap{margin:80px auto 0; }
.intro_wrap h2{font-size:36px; font-weight:700; margin:0 0 24px; color:#000;}
.intro_wrap p{line-height:1.8; word-break: keep-all; color:#444; margin-bottom:16px; }

.tools_wrap{display:flex; justify-content: flex-start; align-items: flex-start; margin-top:40px; }
.tools {margin-top:24px; }
.tools:first-child{margin-right:32px; }
.intro_tit{font-family: 'Poppins', sans-serif; color:#aaa; margin-bottom:8px; }
.tools ul,.tools ol {display:flex; justify-content:flex-start ; align-items: center;}
.tools ul li {width:60px; height:60px; background:#000; text-align:Center; line-height:60px; border-radius:5px; margin-right:4px; }
.tools ol li {padding:0 12px; line-height:60px; border-radius:5px; margin-right:4px; border:1px solid #000; color:#000; font-size:15px;font-family: 'Poppins', sans-serif; }

.prof {border-top:1px solid #ddd; margin:50px 0; padding-top:50px;  }
.prof .prof_cont{display:flex; justify-content: flex-start; align-items: flex-end; padding-top:24px;}
.prof .prof_cont > * {color:#000; margin-right:24px; }
.prof .prof_cont h4{font-size:32px; font-weight:700; }
.prof .prof_cont h4 span{font-family: 'Poppins', sans-serif ; }
.prof .prof_cont h3{font-family: 'Poppins', sans-serif; color:#aaa; }

.exhibi ul {border-top:1px solid #eee; }
.exhibi ul li{border-bottom:1px solid #eee; display:flex; justify-content:flex-start ; align-items: center; padding:20px 0; }

.exhibi ul li h6 {color:#aaa; width:180px; font-family: 'Poppins', sans-serif;}
.exhibi ul li p {margin-bottom:0; width:calc(100% - 180px); }
.exhibi ul li p span{font-size:14px; color:#999; }

/* ------------sub------------ */

.detail_top {text-align:center;}
.detail_top img{width:100%;}
.detail_top img.web_visual{width:800px; animation:web_visu 1s; }

@keyframes web_visu{
	0% {opacity:0; transform:translateY(100px);}
	100% {opacity:1; transform:translateY(0);}
}

.detail_wrap{border-left:1px solid rgba(255,255,255,0.3); border-right:1px solid rgba(255,255,255,0.3); border-bottom:1px solid rgba(255,255,255,0.3); }
.detail_wrap .detail_set{border-top:1px solid rgba(255,255,255,0.3); padding:60px 40px 40px; position:relative;}
.detail_wrap .detail_set .d_tit{position:absolute; left:15px; top:15px; font-size:14px; font-weight:400; font-family: 'Poppins', sans-serif; color:#aaa; }
.color_detail .color_wrap {display:flex; justify-content:flex-start; align-items:flex-start; }
.color_detail .color_wrap .main_color{display:flex; justify-content: flex-start; align-items: center;width:30%;}
.color_detail .color_wrap .circle{width:60px; height:60px; border-radius:100%; }
.color_detail .color_wrap .color_num {padding-left:12px; }
.color_detail .color_wrap .color_num h3{font-size:13px; color:#aaa; margin-bottom:4px;  }
.color_detail .color_wrap .color_num ol {display:flex; justify-content: flex-start; align-items: flex-start;}
.color_detail .color_wrap .color_num ol li{width:30px; text-align:center; }
.color_detail .color_wrap .color_num ol li h5{font-family: 'Poppins', sans-serif; padding-bottom:4px; color:#999; }
.color_detail .color_wrap .color_num ol li h6{font-family: 'Poppins', sans-serif;}

.font_detail .fontStyle {border-bottom:1px solid rgba(255,255,255,0.2); display:flex; justify-content: space-between; align-items: center; padding:20px 0;}
.font_detail .fontStyle:last-child{border-bottom:none; padding:20px 0 0;}
.font_detail .fontStyle ul {display:flex; justify-content: flex-end; align-items: center; width:70%;}
.font_detail .fontStyle ul li{padding-left:60px;width:25%; }
.font_detail .fontStyle ul li.black{font-weight:800 }
.font_detail .fontStyle ul li.bold{font-weight:600 }
.font_detail .fontStyle ul li.regular{font-weight:500 }
.font_detail .fontStyle ul li.light{font-weight:400 }
.font_detail .fontStyle h4{font-size:36px; }
.font_detail .lato > * {font-family: 'Lato', sans-serif;}
.font_detail .roboto > * {font-family: 'Roboto', sans-serif;}
.font_detail .montserrat > * {font-family: 'Montserrat', sans-serif;}
.font_detail .InkLipquid > * {font-family: 'InkLipquid';}

.web_detail {padding-top:80px; }
.web_detail h2{font-size:28px; font-family: 'Poppins', sans-serif; margin-bottom:16px; }
.web_detail .img_detail img{width:100%; margin-bottom:20px; }

.cir_color01{background:#5ac4be;}
.cir_color02{background:#0075ec;}
.cir_color03{background:#00d500;}
.cir_color04{background:#e56121;}
.cir_color05{background:#df740c;}
.cir_color06{background:#f6ab00;}
.cir_color07{background:#4087f1;}
.cir_color08{background:#033177;}
.cir_color09{background:#0047bc;}
.cir_color10{background:#d24c4c;}
.cir_color11{background:#0069aa;}
.cir_color12{background:#eb5f18;}

.cir_color13{background:#ae191d;}
.cir_color14{background:#1571b5;}
.cir_color15{background:#e6ab4f;}
.cir_color16{background:#02a37e;}
.cir_color17{background:#dc8092;}
.cir_color18{background:#c5252c;}
.cir_color19{background:#ffdd17;}
.cir_color20{background:#3c4f69;}
.cir_color21{background:#df3f38;}
.cir_color22{background:#ec9130;}
.cir_color23{background:#387c4c;}
.cir_color24{background:#00aeef;}
.cir_color25{background:#f4d330;}
.cir_color26{background:#32a2d3;}
.cir_color27{background:#808080;}
.cir_color28{background:#ee1d23;}
.cir_color29{background:#2b4169;}
.cir_color30{background:#fed900;}
.cir_color31{background:#e8343d;}
.cir_color32{background:#555555;}


.confer{margin-top:60px; display:flex; justify-content: flex-start;align-items: flex-start; }
.confer .conf_cont{ margin-right:24px; }
.confer .conf_cont img{height:520px; }
.confer .conf_cont h3 {margin-bottom:12px; font-size:16px; }

.editor{margin-top: 60px;}
.editor img{width:100%; margin-bottom:12px;}
.editor img.jeon {width:1000px; margin:12px auto; }
.editor h4{margin:20px 0 8px; }
.editor2{margin-top:60px; display:flex; justify-content:space-between; align-items: flex-start; flex-wrap:wrap;}
.editor2 img{width:32%; margin-bottom:20px;}







/* 모달팝업 */
#modal-content {display:none;width:600px;max-width:90%;height:500px;box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);background-color: #fff;border: 1px solid rgba(0, 0, 0, 0.2);border-radius: 0;outline: 0 none}
#modal-content .modal-header {height:20px;border-bottom:1px solid #e5e5e5;padding:15px}
#modal-content .modal-header h4 {margin:0;font:bold 18px 'Malgun Gothic';color:#5d5d5d}
#modal-content .modal-body {padding:15px}
#modal-content .modal-body .b-iframe {width:570px;max-width:100%;height:430px}
#modal-content .b-close{float:right;font:bold 21px Arial;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20);padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none}
#modal-content .b-close:hover, #modal-content .b-close:focus{color:#000;text-decoration:none;cursor:pointer;opacity:.5;filter:alpha(opacity=50)}
p.modal-frame-content{width:550px;max-width:100%;height:400px;padding-right:5px;overflow-x:hidden;overflow-y:auto;font:normal 12px 'Malgun Gothic';color:#555;line-height:1.65em}
/*.popbtn {text-decoration:none;cursor:pointer;margin:0 5px}*/
.b-modal __b-popup1__ {max-width:100%}
#modal-content .modal-header,#modal-content .modal-body{box-sizing:content-box !important}

#modal-content2 {display:none; width:400px; height:560px; background:rgba(54,54,54,0.9); border-radius:4px; border:0px;}
#modal-content2 .modal-header {position:relative; height:28px;}
#modal-content2 .modal-body2 {padding:0;}
#modal-content2 .b-close{position:absolute;top:0;right:16px;font-size:40px;font-weight:900;font-family:Tahoma;color:#fff;opacity:.5;filter:alpha(opacity=50);padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none}
#modal-content2 .b-close:hover, #modal-content .b-close:focus{cursor:pointer;opacity:1;filter:alpha(opacity=100)}
#modal-content2 .modal-body2 .b-iframe {width:400px;height:560px;}
